<div
  class="flex p-4 justify-between items-center bg-netflix-black bg-opacity-90 md:backdrop-blur-sm text-white shadow-md">
  <!-- Logo -->
  <div class="flex items-center justify-around md:justify-start w-full md:gap-x-5">
    <span [routerLink]="AppRoutes.HOME"
          class="hidden md:block text-red-600 font-bold text-2xl sm:text-3xl cursor-pointer">NETFLIX</span>

    <netflix-search-bar (onSearchChanged)="searchMovies($event)" class="md:ml-4"></netflix-search-bar>

    <div class="md:hidden ml-4">
      <button (click)="toggleMobileMenu()" class="text-gray-300 hover:text-red-500 focus:outline-none cursor-pointer">
        @if (isMobileMenuOpen) {
          <netflix-icon name="close" size="24"></netflix-icon>
        } @else {
          <netflix-icon name="menu" size="24"></netflix-icon>
        }
      </button>
    </div>
  </div>

  <!-- Desktop Navigation -->
  <div class="hidden md:flex items-center gap-6 pr-4">
    <div class="flex items-center gap-6">
      @for (link of navigationLinks; track link.route) {
        <a [routerLink]="link.route" class="flex items-center group" routerLinkActive="text-red-500"
           [routerLinkActiveOptions]="{exact: link.route === AppRoutes.HOME}">
          <span class="text-lg font-medium group-hover:text-red-500">{{ link.label }}</span>
        </a>
      }
    </div>
    <netflix-user-icon class="ml-2"></netflix-user-icon>
  </div>
</div>

<!-- Mobile Menu -->
<div class="bg-netflix-black bg-opacity-90 md:hidden"
     [class.hidden]="!isMobileMenuOpen">
  <div class="flex flex-col p-4 pt-2 space-y-4">
    @for (link of navigationLinks; track link.route) {
      <a [routerLink]="link.route" class="text-white hover:text-red-500" (click)="closeMobileMenu()"
         routerLinkActive="text-red-500">
        {{ link.label }}
      </a>
    }
    <div class=" pt-4 border-t border-gray-700">
      <netflix-user-icon></netflix-user-icon>
    </div>
  </div>
</div>
