<div class="flex justify-between items-center p-4 fixed top-0 left-0 right-0 z-50 backdrop-blur-sm text-white shadow-md">

  <!-- Logo -->
  <div class="flex items-center gap-x-5">
    <span routerLink="/" class="text-red-600 font-bold text-2xl sm:text-3xl cursor-pointer">NETFLIX</span>

    <netflix-search-bar (onSearchChanged)="searchMovies($event)" class="ml-4 hidden md:flex"></netflix-search-bar>
  </div>

  <!-- Desktop Navigation -->
  <div class="hidden md:flex items-center gap-6">
    <div class="flex items-center gap-6">
      <a routerLink="/" class="flex items-center group" routerLinkActive="text-red-500">
        <span class="text-lg font-medium group-hover:text-red-500">Home</span>
      </a>
      <a routerLink="/favorites" class="flex items-center group" routerLinkActive="text-red-500">
        <span class="text-lg font-medium group-hover:text-red-500">Favorites</span>
      </a>
    </div>
    <netflix-user-icon class="ml-4"></netflix-user-icon>
  </div>
</div>
