<span
  class="cursor-pointer inline-flex items-center justify-center rounded-full p-1 bg-black/50"
  [class.opacity-100]="alwaysShow"
  [class.opacity-0]="!movie().isFavorite"
  [class.group-hover:opacity-100]="!movie().isFavorite"
  [class.text-red-600]="movie().isFavorite"
  [class.text-gray-400]="!movie().isFavorite"
  (click)="onClick($event)"
>
@if (movie().isFavorite) {
  <!-- Solid heart (filled) -->
  <netflix-icon name="favorite" size="24" fill="currentColor" />
} @else {
  <!-- Outline heart -->
  <netflix-icon name="favorite" size="24"/>
}
</span>
