<div class="relative" netflixSingleDropdownOpen #dropdown="netflixSingleDropdownOpen">
  <span
    class="cursor-pointer inline-flex items-center justify-center rounded-full p-1
      bg-black/60 md:group-hover:opacity-100 transition-opacity duration-300"
    [class.opacity-100]="dropdown.isOpen"
    [class.md:opacity-0]="!dropdown.isOpen"
    (click)="dropdown.toggle($event)"
  >
    <netflix-icon name="kebab" [size]="size()"/>
  </span>

  @if (dropdown.isOpen) {
    <!-- Desktop Dropdown -->
    <div
      class="hidden md:fixed absolute right-0 w-48 bg-gray-800 rounded-md shadow-lg z-50"
    >
      <div class="py-2 px-2">
        @for (option of options(); track option.label) {
          <div class="flex flex-row items-center p-2 gap-x-2
                text-sm text-gray-200 hover:bg-gray-700 rounded cursor-pointer"
               (click)="dropdown.close($event); triggerAction(option.action)">
            <netflix-icon [name]="option.icon" size="16"/>
            <span>{{ option.label }}</span>
          </div>
        }
      </div>
    </div>

    <!-- Mobile Modal (shown only on mobile) -->
    <div class="fixed md:hidden inset-0 z-50 overflow-y-auto">
      <!-- Overlay -->
      <div class="fixed inset-0 bg-black/50" (click)="dropdown.close($event)"></div>

      <!-- Modal Content -->
      <div
        class="fixed bottom-0 left-0 right-0 bg-gray-800 rounded-t-lg shadow-xl transform transition-transform duration-300"
        [class.translate-y-full]="!dropdown.isOpen">
        <div class="py-2 px-2">
          @for (option of options(); track option.label) {
            <div class="flex flex-row items-center p-3 gap-x-2
                  text-sm text-gray-200 hover:bg-gray-700 rounded cursor-pointer"
                 (click)="dropdown.close($event); triggerAction(option.action)">
              <netflix-icon [name]="option.icon" size="16"/>
              <span>{{ option.label }}</span>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
