<netflix-navbar-container (searchChanged)="onSearchChanged($event)">
  <div class="flex flex-row flex-wrap justify-center"
       infiniteScroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="300"
       (scrolled)="loadMovies()"
       [infiniteScrollDisabled]="isLoading || !hasMore">

    @for (movie of movies; track movie.id) {
      <netflix-movie-poster [movie]="movie"></netflix-movie-poster>
    }

    @if (isLoading) {
      <div class="w-full flex justify-center py-6">
        <netflix-loading-spinner-indicator></netflix-loading-spinner-indicator>
      </div>
    }
  </div>
</netflix-navbar-container>
